{{ form_row(form.Page) }}
{{ form_row(form.parentDyn) }}
{{ form_row(form.Template) }}
<div class="row">
    <div class="col-md-4">{{ form_row(form.limit) }}</div>
    <div class="col-md-4">{{ form_row(form.PostScoreMin) }}</div>
    <div class="col-md-4">{{ form_row(form.PostScoreMax) }}</div>
</div>
